@import url("https://fonts.googleapis.com/css2?family=Muli:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Muli", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 0;
  height: 100vh;
}

.container {
  display: flex;
  width: 80vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: all 0.7s ease-in;
}

.panel h3 {
  text-align: center;
  font-size: 24;
  position: absolute;
  width: 100%;
  bottom: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  transition: all 0.3s ease-in 0.4s;
  opacity: 1;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
